*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.wrapper{
    background-color: gray;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.container h1{
    margin: 20px 0;         
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.images{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.images img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    object-fit: cover;
}

.images:hover{
    filter: drop-shadow(0 0 10px rgb(227, 227, 227));
    transform: scale(1.08);
    transition: 0.8s;
}
.images:hover img{
    filter: grayscale(0%);
}

.images figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    transition: 0.8s;
}
.images:hover figcaption{
    opacity: 1;
    transform: scale(1.05);
}